.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: block;
  float: left;
  width: 25%;
  margin: 10px;
  text-align: center;
  padding: 16px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  margin: 0 -5px;
}
